{% extends 'index.html' %}

{% block title %}Edit Pet{% endblock %}

{% block Content %}

<h1 class="display-2">Edit </h1>
<div class="col-lg-6">
    <form action="/{{pet.id}}" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field(class_="form-control")}}

            {% for err in field.errors %}
            {{err}}
            {% endfor %}
        </p>
        {% endfor %}
        <button>Submit</button>
    </form>
</div>

{% endblock %}